[gpg]
	format = ssh
[user]
	name = {{ .gitName }}
	email = {{ .gitEmail }}
	signingkey = ~/.ssh/git-signing.pub
[commit]
	gpgsign = true
	template = ~/.gitmessage
[tag]
	gpgsign = true
[core]
	autocrlf = input
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- /* Repos under my personal GitHub account commit as personalEmail, even on a work machine. */}}
[includeIf "hasconfig:remote.*.url:git@github.com:Fxlipe115/**"]
	path = ~/.config/git/personal.inc
[includeIf "hasconfig:remote.*.url:https://github.com/Fxlipe115/**"]
	path = ~/.config/git/personal.inc
